ul {
    list-style: none;
}
ul a {
    background-color: blue;
    color: white;
    display: inline-block;
    margin: 2px;
    padding: 2px;
    text-decoration: none;
    width: 80%;
}

h1 {
    color: blue;
}

h2 {
    color: blueviolet;
}